<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBI-LCEmtQo7jgI6CVkoH3vC_ajMK3f9qo</string>
	<key>GCM_SENDER_ID</key>
	<string>120009722321</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.phoneAuth.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>phoneauth-c41a0</string>
	<key>STORAGE_BUCKET</key>
	<string>phoneauth-c41a0.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:120009722321:ios:a2ebedb41c324a8ed8b8f0</string>
</dict>
</plist>